@{
    ViewBag.Title = "Index";
}
<br>
<br>
<br>
<br>
<br>
<br>
<div id="popout">
<div id="landing-main">
    <div id="landing-content"><strong>eCPAT</strong> Park Search
    <br>
<div id="landing-banner">
    <div id="search-heading">
            Seach your local area for parks and recreation areas near you.
        <br>
        <br>
        <div id="input-box">
            <div id="rad">
                <form method="get" action="~/Parks/Results">
                    Select Search Radius:
                    <input type="radio" name="checkbox" value=1.770328 checked> 1 mile
                    <input type="radio" name="checkbox" value=8.04672>
                    5 miles
                    <input type="radio" name="checkbox" value=16.09344>
                    10 miles
                    <br>
                    <input type="text" class="input-list style-4 clearfix" name="SearchString" size="50" placeholder="Enter ZIP code or Address" autocomplete="on">
                    <input type="image" style="width:45px;" src="~/Images/mag.png" border="0" alt="submit" />
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
    </div>

